<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>queryResule</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="/static/css/reset.css" rel="stylesheet">
    <!-- Bootstrap3.3.5 CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/queryResult.css" rel="stylesheet">
  </head>
  <body>
  <div class="container">
      <div class="queryResule">
          <h2>中国高等教育学历证书查询结果</h2>
          {{if .History}}
            <div id="tableDiv">
                <table id="table" style="margin: 0 auto;">
                    <tr>
                        <td>姓名</td>
                        <td>出生日期</td>
                        <td>學號</td>
                        <td>校名</td>
                        <td>註冊日期</td>
                        <td>入學日期</td>
                        <td>專業</td>
                        <td>社員等級</td>
                    </tr>
                    {{range .Edu.Historys}}
                        <tr>
                            <td>{{.Education.Name}}</td>
                            <td>{{.Education.BirthDay}}</td>
                            <td>{{.Education.EntityID}}</td>
                            <td>{{.Education.SchoolName}}</td>
                            <td>{{.Education.EnrollDate}}</td>
                            <td>{{.Education.GraduationDate}}</td>
                            <td>{{.Education.Major}}</td>
                            <td>{{.Education.Level}}</td>
                        </tr>
                    {{end}}
                </table>
            </div>
          {{end}}
          <div class="top">
              <div class="left">
                  <p>
                      <span>姓名：</span>
                      <span>{{.Edu.Name}}</span>
                  </p>
                  <p>
                      <span>地區 ：</span>
                      <span>{{.Edu.Place}}</span>
                  </p>
                  <p>
                      <span>種族：</span>
                      <span>{{.Edu.Nation}}</span>
                  </p>
                  <p>
                      <span>註冊日期：</span>
                      <span>{{.Edu.EnrollDate}}</span>
                  </p>
                  <p>
                      <span>校名：</span>
                      <span>{{.Edu.SchoolName}}</span>
                  </p>
                  <p>
                      <span>科系：</span>
                      <span>{{.Edu.QuaType}}</span>
                  </p>
                  <p>
                      <span>社員等級：</span>
                      <span>{{.Edu.Level}}</span>
                  </p>
                  <p>
                      <span>是否畢業：</span>
                      <span>{{.Edu.Graduation}}</span>
                  </p>
              </div>
              <div class="right">
                  <p>
                      <span>性别：</span>
                      <span>{{.Edu.Gender}}</span>
                  </p>
                  <p>
                      <span>出生日期：</span>
                      <span>{{.Edu.BirthDay}}</span>
                  </p>
                  <p>
                      <span>學號：</span>
                      <span>{{.Edu.EntityID}}</span>
                  </p>
                  <p>
                      <span>入學日期：</span>
                      <span>{{.Edu.GraduationDate}}</span>
                  </p>
                  <p>
                      <span>專業：</span>
                      <span>{{.Edu.Major}}</span>
                  </p>

                  <p>
                      <span>模式：</span>
                      <span>{{.Edu.Mode}}</span>
                  </p>
                  <p>
                      <span>年級：</span>
                      <span>{{.Edu.Length}}</span>
                  </p>
                  <p>
                      <span>社員編號：</span>
                      <span>{{.Edu.CertNo}}</span>
                  </p>
              </div>
              <div class="headImg">
                  <img src="{{.Edu.Photo}}" alt="">
              </div>
          </div>
          <p>
              {{if eq .CurrentUser.IsAdmin "T"}}
                  <a href="/modifyPage?certNo={{.Edu.CertNo}}&name={{.Edu.Name}}">修改信息</a>
              {{end}}
              <a href="/index">返回首頁</a>
          </p>

      </div>
  </div>
  </body>
</html>
